<div class="container mt-5 mb-5">
  <h2>Контракты</h2>
  <div class="row row-cols-1 row-cols-md-3 mt-3">
    <ng-container *ngIf="contracts$ | async as contracts; else loading">
      <ng-container *ngIf="contracts.length; else noItems">
        <div class="col mb-4" *ngFor="let contract of contracts">
          <app-contract-item [contract]="contract"></app-contract-item>
        </div>
      </ng-container>
      <ng-template #noItems>
        <p>Вы не создавали контрактов.</p>
      </ng-template>
    </ng-container>
  </div>
  <ng-template #loading>loading...</ng-template>
</div>
