<div class="container-fluid pt-5 pb-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 col-xs-12">
      <h1 class="text-center">Авторизация</h1>
      <app-list-errors [errors]="errors"></app-list-errors>
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">
          <fieldset class="form-group">
            <input
              name="email"
              id="email"
              formControlName="email"
              placeholder="Email"
              class="form-control form-control-lg"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              formControlName="password"
              id="password"
              placeholder="Password"
              class="form-control form-control-lg"
              type="password"/>
          </fieldset>
        </fieldset>

        <div class="text-center">
          <button class="btn btn-lg btn-primary pull-xs-right"
                  id="auth-button"
                  [disabled]="!authForm.valid || isSubmitting" type="submit">
            Войти
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
