<div class="container h-75">
  <div class="row h-100">
    <div class="col-md-6 offset-md-3 col-xs-12 my-auto">
      <h1 class="text-center">{{ title }}</h1>
      <p class="text-center">
        <a [routerLink]="['/login']" *ngIf="authType == 'register'">Уже зарегистированы?</a>
        <a [routerLink]="['/register']" *ngIf="authType == 'login'">Зарегистироваться?</a>
      </p>
      <app-list-errors [errors]="errors"></app-list-errors>
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">
          <fieldset class="form-group">
            <input
              formControlName="username"
              placeholder="Ваше имя"
              class="form-control form-control-lg"
              type="text"
              *ngIf="authType == 'register'"/>
          </fieldset>
          <fieldset class="form-group">
            <input
              name="email"
              formControlName="email"
              placeholder="Email"
              class="form-control form-control-lg"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              formControlName="password"
              placeholder="Password"
              class="form-control form-control-lg"
              type="password"/>
          </fieldset>
        </fieldset>

        <div class="text-center">
          <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid" type="submit">
            {{ title }}
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
