<div class="container-fluid pt-5 pb-5">
  <ng-container
    *ngIf="$adventurer | async as adventurer; else loading"
    class="row justify-content-center align-items-center">
    <ng-container *ngIf="adventurer.status===AdventurerStatus.Active">
      <app-all-list-contracts [isListForAdventurer]="true" [adventurerInfo]="adventurer"></app-all-list-contracts>
    </ng-container>

    <ng-container *ngIf="adventurer.status===AdventurerStatus.NotConfirmed">
      <h3>
        Ожидайте подтверждения вашей заявки регистратором.
      </h3>
    </ng-container>

    <ng-container *ngIf="adventurer.status===AdventurerStatus.Dead">
      <h3>
        Вы считаетесь погибшим. Свяжитесь с гильдией.
      </h3>
    </ng-container>

    <ng-container *ngIf="adventurer.status===AdventurerStatus.Rejected">
      <h3>
        Ваша заявка была отклонена.
      </h3>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <div class="row justify-content-center align-items-center">
      <div class="spinner-border my-auto mr-2" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <h3 class="my-auto">Подготовка рабочего пространства</h3>
    </div>
  </ng-template>
</div>

