<div class="container mt-5 mb-5">
  <h2>Детали контракта № {{contractId}}</h2>
  <div *ngIf="contract">
    <div class="alert alert-warning" role="alert" *ngIf="contract.contractStatus == contractStatusEnum.Payment">
      Контракт требует оплаты в ближайшем офисе.
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="contract.contractStatus == contractStatusEnum.Rejected">
      Контракт отменен.
    </div>

    <div class="alert alert-success" role="alert" *ngIf="contract.contractStatus == contractStatusEnum.Completed">
      Контракт завершен.
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="contract.contractStatus == contractStatusEnum.Payout">
      Ожидает выплату награды в ближайшем офисе.
    </div>

    <div class="alert alert-success" role="alert"
         *ngIf="contract.contractStatus == contractStatusEnum.Accepted && !contract.cancellationComment">
      Контракт принят гильдией. Ожидает взятие авантюристом на исполнение.
    </div>

    <div class="alert alert-warning" role="alert"
         *ngIf="contract.contractStatus == contractStatusEnum.Accepted && contract.cancellationComment">
      Контракт был отменен авантюристом. Проверьте комментарий авантюриста. Контракт ожидает взятия другим авантюристом.
    </div>

    <div class="alert alert-secondary" role="alert" *ngIf="contract.contractStatus == contractStatusEnum.Performing">
      Принят на исполение, в ожидании завершения.
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="contract.contractStatus == contractStatusEnum.Performed">
      Контракт исполнен авантюристом. Требует проверки регистратором.
    </div>

    <form [formGroup]="detailForm">
      <div class="form-group">
        <label for="contractName">Название</label>
        <label class="form-control" id="contractName">{{contract.nameContract}}</label>
      </div>

      <div class="form-group">
        <label for="customerName">Контрактодатель</label>
        <label class="form-control" id="customerName">
          <ng-container *ngIf="customerName">
            {{customerName}}
          </ng-container>
          <ng-container *ngIf="!customerName">
            loading...
          </ng-container>
        </label>
      </div>

      <div class="form-group">
        <label for="contractDate">Дата создания</label>
        <label class="form-control" id="contractDate">{{contract.createTime | date}}</label>
      </div>

      <div class="form-group">
        <label for="address">Адрес</label>
        <label class="form-control" id="address">{{contract.address}}</label>
      </div>

      <div class="form-group">
        <label for="reward">Оплата</label>
        <label class="form-control" id="reward">{{contract.reward}}</label>
      </div>

      <div class="form-group">
        <label for="description">Описание контракта</label>
        <textarea class="form-control" id="description" disabled>{{contract.description}}</textarea>
      </div>

      <div class="form-group">
        <label for="comment">Комментарий к контракту</label>
        <textarea class="form-control" id="comment" disabled>{{contract.requestComment}}</textarea>
      </div>

      <div class="form-group">
        <label for="statusSelect">Статус контракта</label>
        <select class="form-control" id="statusSelect" [formControl]="status"
                [ngClass]="{ 'is-invalid': submitted && status.errors}">
          <option value="" selected disabled hidden>Нажмите для выбора состояний</option>
          <option *ngFor="let status of contractStatus" [value]="status">{{status | contractStatus}}</option>
        </select>
        <div *ngIf="submitted && status.errors" class="invalid-feedback">
          <div *ngIf="status.errors.required">Выберите состояние контракта</div>
        </div>
      </div>

      <div class="form-group">
        <label for="minLevelSelect">Минимальный ранг авантюриста</label>
        <select class="form-control" id="minLevelSelect" [formControl]="minLevel"
                [ngClass]="{ 'is-invalid': submitted && minLevel.errors}">
          <option value="" selected disabled hidden>Нажмите для выбора ранга</option>
          <option *ngFor="let rank of ranks" [value]="rank">{{rank | rank}}</option>
        </select>
        <div *ngIf="submitted && minLevel.errors" class="invalid-feedback">
          <div *ngIf="minLevel.errors.required">Выберите минимальный ранг</div>
        </div>
      </div>

      <div class="form-group">
        <label for="registrarComment">Комментарий регистратора</label>
        <textarea type="text" class="form-control" id="registrarComment" [formControl]="registrarComment"
                  [ngClass]="{ 'is-invalid': submitted && registrarComment.errors}"
                  [disabled]="!isUserCanUpdateContract"
                  placeholder="Ваш комментарий"></textarea>
        <div *ngIf="submitted && registrarComment.errors" class="invalid-feedback">
          <div *ngIf="registrarComment.errors.required">Введите ваш комментарий</div>
        </div>
      </div>

      <ng-container *ngIf="isUserCanUpdateContract">
        <div class="text-center mb-2"
             *ngIf="contract.contractStatus === contractStatusEnum.Created">
          <button class="btn btn-lg btn-primary pull-xs-right mr-2" [disabled]="processing" type="button"
                  (click)="onAccept()">
            Принять
          </button>

          <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="processing" type="button"
                  (click)="onReject()">
            Отклонить
          </button>
        </div>

        <div class="text-center pb-2"
             *ngIf="contract.contractStatus === contractStatusEnum.Payment">
          <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="processing" type="button"
                  (click)="onPayed()">
            Оплачен
          </button>
        </div>

        <div class="text-center mb-2"
             *ngIf="contract.contractStatus === contractStatusEnum.Payout">
          <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="processing" type="button"
                  (click)="onPayout()">
            Выплатить вознаграждение
          </button>
        </div>

        <div class="text-center mb-2"
             *ngIf="contract.contractStatus === contractStatusEnum.Performed">
          <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="processing" type="button"
                  (click)="onAcceptPerformed()">
            Подтвердить исполнение
          </button>
        </div>

        <div class="text-center">
          <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="processing" type="button"
                  (click)="updateContractFromForm()">
            Обновить
          </button>
        </div>
      </ng-container>

      <div class="card mt-4 container-fluid"
           *ngIf="contract.contractStatus !== contractStatusEnum.Created && contract.contractStatus !== contractStatusEnum.Payment">
        <div class="card-body">
          <h5 class="card-title col-12 text-bold">Авантюрист</h5>
          <p class="card-text">Информация об исполнителе:
            <ng-container *ngIf="executor">{{executor.name}} ({{executor.username}}),
              {{executor.rank | rank}}</ng-container>
            <ng-container *ngIf="!executor">исполнитель отсутсвует, контракт может быть взять авантюристом
            </ng-container>
          </p>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Комментарий</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"
                      name="adventurerComment"
                      placeholder="Введите комментарий"
                      (change)="adventurerCommentChange($event)"
                      [disabled]="contract.contractStatus !== contractStatusEnum.Performing">{{adventurerComment}}</textarea>
          </div>
        </div>

        <div class="text-center my-2" *ngIf="isAdventurer">
          <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="processing" type="button"
                  *ngIf="contract.contractStatus == contractStatusEnum.Accepted"
                  (click)="onAcceptAdventurer()">
            Взять контракт на исполнение
          </button>

          <ng-container
            *ngIf="contract.contractStatus == contractStatusEnum.Performing && executor?.id === contract.executor">
            <button class="btn btn-lg btn-primary pull-xs-right mr-2" [disabled]="processing
             || !adventurerComment || adventurerComment?.length === 0" type="button"
                    (click)="onPerformedAdventurer()">
              Исполнен
            </button>

            <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="processing
              || !adventurerComment || adventurerComment?.length === 0" type="button"
                    (click)="onCancelAdventurer()">
              Отменить
            </button>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
</div>
