<div class="container mt-5 mb-5">
  <h2>Контракты</h2>

  <ng-container *ngIf="contracts$ | async as contracts; else loading">
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(contractsService.total$ | async)!" [(page)]="contractsService.page"
        [pageSize]="contractsService.pageSize">
      </ngb-pagination>

      <label>
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="contractsService.pageSize">
          <option [ngValue]="6">6 items per page</option>
          <option [ngValue]="9">9 items per page</option>
          <option [ngValue]="12">12 items per page</option>
          <option [ngValue]="36">36 items per page</option>
        </select>
      </label>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mt-3">
      <ng-container *ngIf="contracts.length; else noItems">
        <div class="col mb-4" *ngFor="let contract of contracts">
          <div class="card h-100">
            <div class="bg-secondary d-flex align-items-center" style="height: 12rem">
              <i class="fas fa-camera fa-7x text-center mx-auto"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{contract.nameContract}}</h5>
              <p class="card-text">{{contract.description}}</p>
            </div>

            <a routerLink="./{{contract.id}}" class="btn btn-primary mb-3 mx-5">Рассмотреть</a>

            <div class="card-footer">
              <small class="text-muted text-right">Время создания: {{contract.createTime | date}}</small>
              <br>
              <small class="text-muted text-right">Состояние: {{contract.contractStatus | contractStatus}}</small>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noItems>
        <p>Список контрактов пуст.</p>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #loading>loading...</ng-template>
</div>
