<div class="container mt-5 mb-5">
  <h2 *ngIf="!isListForAdventurer">Контракты</h2>

  <h2 *ngIf="isListForAdventurer">Контракты. Ваш {{adventurerInfo.rank | rank}} ({{adventurerInfo.experience}}
    опыта)</h2>

  <div class="row">
    <input class="form-control col-lg-4 mr-sm-2 mr-xl-0" placeholder="Название" type="text" name="searchTerm"
           [(ngModel)]="nameContractFilter"/>

    <select class="form-control col-xl-2 mr-sm-2 ml-xl-2 mt-2 mt-xl-0" id="statusSelect"
            [(ngModel)]="contractStatusFilter"
            *ngIf="!isListForAdventurer">
      <option value="" selected disabled hidden>Статус</option>
      <option *ngFor="let status of contractStatus" [value]="status">{{status | contractStatus}}</option>
    </select>

    <select class="form-control col-xl-2 mr-sm-2 ml-xl-2 mt-2 mt-xl-0" id="contractExecutor" *ngIf="isListForAdventurer"
            [(ngModel)]="showOnlyMyContracts">
      <option [ngValue]="true">Мои</option>
      <option [ngValue]="false">Доступные</option>
    </select>

    <select class="form-control col-xl-2 mr-sm-2 ml-xl-2 mt-2 mt-xl-0" id="rankSelect" [(ngModel)]="rankFilter">
      <option value="" selected disabled hidden>Ранг</option>
      <option *ngFor="let rank of ranks" [value]="rank">{{rank | rank}}</option>
    </select>

    <button type="button" class="btn btn-primary col-xl-1 mr-sm-2 ml-xl-2 mt-2 mt-xl-0" (click)="clearSearch()">
      Очистить
    </button>

    <button type="button" class="btn btn-primary col-xl-1 mr-sm-2 ml-xl-2 mt-2 mt-xl-0" (click)="search()">
      Поиск
    </button>
  </div>

  <ng-container *ngIf="contracts$ | async as contracts; else loading">
    <div class="row mt-2">
      <ngb-pagination maxSize="3" class="col-sm-12 col-md-12 col-xl-auto"
                      [collectionSize]="(contractsService.total$ | async)!" [(page)]="contractsService.page"
                      [pageSize]="contractsService.pageSize">
      </ngb-pagination>

      <label>
        <select class="custom-select col-xl-auto" style="width: auto" name="pageSize"
                [(ngModel)]="contractsService.pageSize">
          <option [ngValue]="6">6 items per page</option>
          <option [ngValue]="9">9 items per page</option>
          <option [ngValue]="12">12 items per page</option>
          <option [ngValue]="36">36 items per page</option>
        </select>
      </label>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mt-3">
      <ng-container *ngIf="contracts.length; else noItems">
        <div class="col mb-4" *ngFor="let contract of contracts">
          <app-contract-item [contract]="contract"></app-contract-item>
        </div>
      </ng-container>
      <ng-template #noItems>
        <p>Список контрактов пуст.</p>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #loading>loading...</ng-template>
</div>
