<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class=" navbar-brand ml-5" routerLink="/">The Contract System</a>

  <button class="navbar-toggler"
          type="button"
          (click)="isMenuCollapsed = !isMenuCollapsed"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <!-- Show this for logged out users -->
    <ul *ngIf="!isLoggedIn" class="navbar-nav ml-auto mr-3">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/login"
           (click)="isMenuCollapsed = true"
           routerLinkActive="active">
          Вход
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/register"
           (click)="isMenuCollapsed = true"
           routerLinkActive="active">
          Регистрация
        </a>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul *ngIf="isLoggedIn" class="navbar-nav ml-auto mr-5">
      <div *ngIf="!currentUser" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>

      <li *ngIf="currentUser" class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
          <a ngbDropdownToggle class="nav-link"
             id="dropdownMenu2"
             routerLinkActive="active">
            <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" alt="user image"/>
            {{ currentUser.name }}
          </a>
          <!-- use  ngbDropdownMenu -->
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item">Настройки</button>
            <button class="dropdown-item" (click)="logOut()">Выйти</button>
          </div>
        </div>
      </li>
    </ul>

  </div>
</nav>
